<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/common01::header01}"></div>
<div style="margin-top:10px; margin-bottom:10px;">
    <h1 class="color-gray" style="text-align:center;">研修生削除 確認</h1>
</div>
<hr/>

<p class="h3 color-gray" style="text-align: center;">
    こちらのデータを削除します。本当によろしいですか？
</p>

<form method="post" action="/user/delete_complete" style="margin-top:50px;">
    <div style="display:flex">
        <div class="left-space"></div>
        <div class="content-area">
            <div class="form-group row">
                <label for="userName" class="col-sm-4 col-form-label">名前</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly th:value="${user.name}" type="text" name="userName" id="userName"
                       style="width:250px;"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="mailAddress" class="col-sm-4 col-form-label">メールアドレス</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly th:value="${user.mailAddress}" type="email" name="mailAddress" id="mailAddress"
                           style="width:400px;"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="pictPath" class="col-sm-4 col-form-label">メールアドレス</label>
                <div class="col-sm-8">
                    <img th:src="@{${user.pictPath}}" style="width:32px; height:32px;" id="pictPath" />
                    <input type="hidden" name="removePictPath" th:value="${user.pictPath}" />
                </div>
            </div>
            <div>
                <input th:value="${user.id}" name="userId" type="hidden" />
            </div>

        </div>
        <div class="right-space"></div>
    </div>
    <div style="text-align: center; margin-top:50px; margin-bottom:50px;">
        <input class="btn btn-danger btn-lg" type="submit" value="削除" style="margin-left:30px; margin-right:30px; width:130px;"/>
        <a class="btn btn-dark btn-lg" href="/user" style="margin-left:30px; margin-right:30px; width:130px;">キャンセル</a>
    </div>

</form>

<div th:replace="~{common/common01::footer01}"></div>
</html>
